.page {
    font-family: 'Golos Text', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; 
}

.title {
    font-family: 'Merriweather', Arial, sans-serif;
}

.bold_colored {
    color: #F54932;
    font-weight: bold;
}